@charset "utf-8";
html, body{
  background:#fffefa;
}
body {
  font-family: 'Lato', sans-serif; 
  font-weight: 400; 
  margin: 0;
  padding: 0;
}
.portfolio, .index{
  background: url(/images/bg-knitting.jpg) repeat-x 0 70px;
}
.about{
  background: url(/images/bg-trees.jpg) repeat-x 0 70px;  
}
header{
  padding-bottom: 120px;
}
h1, h2 {
  font-family: 'Dawning of a New Day', cursive;
  font-weight: normal;
  padding: 0;
  margin: 24px 0 6px 0;
  line-height: 1.4em;
  color: #161313;
}
h1{
  display:block;
  font-weight: normal;
  font-size: 42px;
  margin:42px 0 0 0;
}
.about h2{
  background: url(/images/heading-tree.jpg) no-repeat left bottom;
  padding-left: 40px;
  padding-top: 30px;
}
.standfirst{
  font-size: 20px;
  color: #554a4a;
  margin-bottom: 18px;
  font-weight: 300; 
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li{
  float: left;
  font-family: 'Dawning of a New Day', cursive;
  padding: 0;
  font-size: 20px;
}
nav a{
  text-decoration: none;
  color: #3c3838;
  padding: 0 12px;
  line-height: 3em;
  display: block;
}
.index .nav-portfolio a, .portfolio .nav-portfolio a{
  background: #f76900;
  color: #fff;
}
.about .nav-about a{
  background: #fefb00;
  color: #666;
}
/*
img{
  -moz-box-shadow: 1px 2px 6px #666;
  -webkit-box-shadow: 1px 2px 6px #666;
  box-shadow: 1px 2px 6px #666;
}
*/

#content{
  clear: both;
  padding: 0 9px;
}
#content img{
  width:100%;
  height: auto;
}
p, blockquote cite{
  color: #3c3434;
  font-size: 16px;
  line-height: 1.5em;
}
p{
 padding: 8px 0;
 margin: 0;
}
blockquote{
  margin: 0 0 0 1em;
  padding: 0;
}
blockquote p{
  font-family: 'Dawning of a New Day', cursive;
  font-size: 18px;
  line-height: 1.2em;
  color: #666;
}

blockquote cite{
  font-family: 'Lato', sans-serif; 
  font-size: 14px;
} 


/* Home page specific */
.index #content ol{
  list-style: none;
  margin: 0 -9px;
  padding: 0;
}
.index ol li{
  width: 280px;
  float: left;
  height: auto;
  margin: 12px 18px;
  /*background: #f76900 url(/images/bg-label.jpg) no-repeat bottom left;*/
  background: url(/images/arrow.png) 95% 92% no-repeat, #f76900 url(/images/bg-label.jpg) no-repeat bottom left;
}
.index ol li:nth-of-type(odd) {
  background: url(/images/arrow.png) 95% 92% no-repeat, #f76900 url(/images/bg-label2.jpg) no-repeat bottom left;
}
.index ol img{
  display:block;
  margin-bottom: 3px;
}
.index ol a{
  display: block;
  text-decoration: none;
  padding-bottom: 6px;
}
.index ol h2, .index ol p{
  margin: 0;
  padding: 2px 8px;
  font-family: 'Lato', sans-serif; 
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}
.index ol p{
  font-size: 11px;
  padding-top: 0;
}
.index ol a:hover h2{
  color: red;
}
/*.index ol a:hover img{
  moz-box-shadow: 3px 3px 9px #666;
  -webkit-box-shadow: 3px 3px 9px #666;
  box-shadow: 3px 3px 9px #666;
}*/
footer{
  clear:both;
}
footer p{
  font-size: 12px;
  color: #999;
  text-align: center;
}

/* move to desktop stylesheet */
body{
  text-align: center;
}
#container{
  width: 960px;
  margin: 0 auto;
  text-align: left;  
}
#content{
  position: relative;
}
#content img{
  width: auto;
  height: auto;
}
.about #content h1{
  margin-left: 180px;
}
.about #content h2, .about #content .standfirst{
  margin: 20px 180px;
}
.about #content p{
  margin: 0 260px;
}
.portfolio h1, .portfolio p{
  width: 230px;
  margin-left: 730px;
}
.portfolio img{
  position: absolute;
  -moz-box-shadow: 1px 2px 6px #666;
  -webkit-box-shadow: 1px 2px 6px #666;
  box-shadow: 1px 2px 6px #666;
}
.portfolio img.first{
  top: 0;
  left: 0;
}
.portfolio img.second{
  top: 450px;
  left: 200px;
}
.portfolio img.third{
  left: 90px;
  top: 900px;
}
/* Customisations for specific pages */
.portfolio_michael-birt img.first{
  left: 20px;
}
.portfolio_michael-birt img.second{
  top: 394px;
  left: 0;
}
.portfolio_michael-birt img.third{
  top: 710px;
  left: 260px;
}
/* Pages that have tall images or a lot of text */
.portfolio img.second.tall{
  top: 550px;
}
.portfolio_marvic-textiles img.second.tall{
  top: 37em;
}