---
title: 24-7 DVD website | Rachel Radford's design portfolio
---

<h1>24-7 DVD</h1>
<blockquote>
  <p>Just thought I would let you know that the site is doing very very well. We got many requests for quotes over this weekend and more already this morning. They have been really great quality leads and the sales team are happily fighting over them as we speak.</p>
  <p><cite>Catherine Watling, 24-7 DVD</cite></p>
</blockquote>
<img src="/images/24-7-1.jpg" alt="24-7 DVD Homepage" title="Homepage" class="first" />
<p>Besides redesigning the look &amp; feel, we addressed the structure (which was confusing visitors) and increased conversion rates. The quick quote form was placed on almost every page which has worked a treat for attracting new leads.</p>
<img src="/images/24-7-2.jpg" alt="24-7 DVD menu" title="Drop-down menu" class="second tall" />
<img src="/images/24-7-3.jpg" alt="24-7 DVD product page" title="Product page" class="third" />
<%= partial "more-link" %>