---
title: Bannisters' Farm website | Rachel Radford's design portfolio
---

<h1>Bannisters’ Farm</h1>
<p>Bannisters’ Farm needed a new website to bring them up to date with their new branding and competitors.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" />
<p>It was fun working alongside the branding company with such great illustrations to create a quirky, yet professional site to accompany their new look packaging.</p>
<img src="/images/bannisters-2.jpg" alt="Bannisters' Farm product page" title="Product page" />

