---
title: Restless Development's Career Spark | Rachel Radford's design portfolio
---

<h1>Restless Development's Career Spark</h1>
<p>Young people in Uganda face many challenges, including 90% unemployment rates. Restless Development and the Forward Foundation are tackling that by introducing a new kind of internship.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="first" />
<p>I have been lucky to work with the team in Uganda to provide methods, support and advice for name generation and logo design, which created Career Spark.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="second" />
<p>I then applied the new branding to a mobile-friendly website design which will support the young people and employers in this new venture. The project is in its first phase during 2013.</p>
<img src="/images/bannisters-2.jpg" alt="Bannisters' Farm product page" title="Product page" class="third" />
<%= partial "more-link" %>
