---
title: Conference Genie website | Rachel Radford's design portfolio
---

<h1>Conference Genie</h1>
<blockquote>
  <p>We achieved a 50% conversion rate on unique visitors to the new Go page yesterday! How amazing is that? Thank you for making it happen.</p>
  <p><cite>Jon Appleton, Conference Genie</cite></p>
</blockquote>
<img src="/images/conference-genie-1.jpg" alt="Conference Genie homepage" title="Home page" class="first" />
<p>The new process on the site and conference interface makes it so easy for people to start a call.</p>
<img src="/images/conference-genie-2.jpg" alt="Conference Genie service page" title="Service page" class="second tall" />
<p>The original illustrations are aimed at Conference Genie’s 3 key markets. In a sector swamped with stock photography, they are a breath of fresh air. <a href="http://www.datadial.net/blog/index.php/2009/01/14/illustration-in-website-design/">Read more about my Illustration process</a></p>
<img src="/images/conference-genie-3.png" alt="Sketches for the illustrations" title="Pre-illustration sketches" class="third no-shadow" />
<%= partial "more-link" %>