---
title: War Child fundraiser | Rachel Radford's design portfolio
---

<h1>Fundraising for War Child</h1>
<p>The Forward Foundation supports a key project each year, and this time it was for the charity War Child.</p> 
<p>I produced the illustration and posters to promote the event and a fundraising social, as well as taking part in the ride and general trip organisation.</p>
<img src="/images/cycling-2.jpg" alt="Printed poster" title="Illustration for poster promoting the cycle ride" class="first" />
<img src="/images/cycling-1.jpg" alt="Poster promoting the cycle to Paris" title="Illustration for poster promoting the cycle ride" class="second" />

<%= partial "more-link" %>
