---
title: Reporting dashboards for uSwitch | Rachel Radford's design portfolio
---

<h1>Reporting dashboards for uSwitch</h1>
<p>For greatest transparency and opportunity to interrogate data we use our own software to run iterative split tests.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="first" />
<p>I redesigned the dashboards for key members of the team to more easily understand the complex information.</p>
<%= partial "more-link" %>
