---
title: Reporting dashboards for uSwitch | Rachel Radford's design portfolio
---

<h1>Reporting dashboards for uSwitch</h1>
<p>For greater transparency and opportunity to interrogate data we use our own software to run iterative split tests.</p>
<p>The new design of the dashboards restructures the information and allows key members of the team to understand the complex data more easily.</p>
<p>This design was also rolled out over other internal reporting, such as Profit and Loss reports.</p>
<p><small>(Due to sensitive data, screenshot shown does not contain real data.)</small></p>
<img src="/images/reporting.jpg" alt="Reporting dashboard for split tests" title="Split Test reporting" class="first" />
<%= partial "more-link" %>
