---
title: Datadial website | Rachel Radford's design portfolio
---

<h1>Datadial</h1>
<p>I poured a lot of love into this design. I wanted to pursue ideas of transparency, professionalism and quality all without distracting from the content.</p>
<img src="/images/datadial-1.jpg" alt="Datadial homepage" title="Homepage" class="first" />
<p>The quality and volume of leads generated from the site have increased and it is proving to be an extremely useful tool for supporting proposals.</p>
<img src="/images/datadial-3.jpg" alt="Datadial case study page" title="Case study page" class="second" />
<p>You can read more about my design process for this site <a href="http://www.datadial.net/blog/index.php/2010/03/24/creating-the-new-datadial-website/">on the Datadial blog</a>.</p>
<img src="/images/datadial-2.jpg" alt="Datadial blog page" title="Blog" class="third" />
