---
title: Designer Crackers website | Rachel Radford's design portfolio
---

<h1>Designer Crackers</h1>
<p>Although the previous site required a complete restructure, I didn’t want to loose any of the purchasing simplicity in the redesign of this popular site.</p>
<img src="/images/designer-crackers-1.jpg" alt="Designer Crackers Category page" title="Category and product page" class="first" />
<p>We retained the purchasing from a category page, but structured the products into the different seasonal activities making it much easier for people to find party accessories.</p>
<img src="/images/designer-crackers-2.jpg" alt="Designer Crackers home page" title="Home page" class="second tall" />
<%= partial "more-link" %>