---
title: Locaria multilingual website design | Rachel Radford's design portfolio
---

<h1>Locaria</h1>
<p>Locaria (Forward's multi-lingual online marketing agency) has a website available in 15 languages. However it was important for the team to communicate how they localise their services, rather than just translate.</p>
<img src="/images/locaria-1.jpg" alt="Locaria homepage in English" title="Homepage in English" class="first" />
<p>The design accommodated itself for different cultures with changes to the colour scheme, text sizes and background image. I used large map imagery in the background to liven a text-heavy site and provide a local context.</p>
<img src="/images/locaria-3.jpg" alt="Team page in Arabic" title="Arabic" class="second" />
<img src="/images/locaria-2.jpg" alt="Locaria About page in Traditional Chinese" title="Traditional Chinese" class="third" />

<%= partial "more-link" %>
