---
title: Locaria | Rachel Radford's design portfolio
---

<h1>Locaria</h1>
<p>One of Forward's new companies, Locaria is a multi-lingual Search agency.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="first" />
<p>The website itself is available in 12 languages. However it was important for the team to communicate how they localise their services, rather than just translate.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="first" />
<p>The design accommodated itself for different cultures with colour and text sizes. I used large map imagery in the background to liven a text-heavy site and provide a local context.</p>
<%= partial "more-link" %>
