---
title: Marvic Textiles website | Rachel Radford's design portfolio
---

<h1>Marvic Textiles</h1>
<p>To kick this project off, we visited the Marvic showroom to observe the experience people have when interacting with the company. We learnt a lot about how their customers find fabrics they need, which heavily informed the site’s structure.</p>
<img src="/images/marvic-1.jpg" alt="Marvic Textiles homepage" title="Homepage" />
<p>On launch, Marvic were the only company within their competitors to use a navigation structure based around how people want to find their fabric. It was a brave step for a high profile company, and has paid off. They have one of the lowest bounce rates I have seen and extremely good conversion rates from the site.</p>
<img src="/images/marvic-2.jpg" alt="Marvic Textiles product page" title="Fabric page" />
