---
title: Michael Birt's website | Rachel Radford's design portfolio
---

<h1>Michael Birt</h1>
<blockquote>
  <p>Working with Rachel has been immensely enjoyable. She has a sharp creative eye, a deep understanding of the technical applications needed to make the ideas work, and an abundance of patience.</p>
  <p><cite>Michael Birt</cite></p>
</blockquote>
<img src="/images/michael-birt-1.jpg" alt="Michael Birt's homepage" title="Homepage" />
<p>Redesigning Michael’s site was so much fun. I enjoy working with others who have the same attention for detail and high standards.</p>
<img src="/images/michael-birt-2.jpg" alt="Michael Birt's portfolio page" title="Gallery page" />
<p>We discussed the structure and user experience in detail. The design is unobtrusive to focus on the images, and communicating elegance true to a photographer of Michael’s calibre.</p>
<img src="/images/michael-birt-3.jpg" alt="Michael Birt's contact page" title="Contact page" />