---
title: Sokha Nhim website | Rachel Radford's design portfolio
---

<h1>Sokha Nhim</h1>
<blockquote>
  <p>I am really proud of the work you have done for the site and I’m sure it will wow!</p>
  <p><cite>Sokha Nhim</cite></p>
</blockquote>
<img src="/images/sokha-nhim-1.jpg" alt="Sokha Nhim Homepage" title="Homepage" class="first" />
<p>Sokha had just taken the step into her own tailor-made fashion design business, and needed a site to reinforce her face-to-face meetings. I designed her site to reflect the high quality bespoke service she offers with a feminine angle.</p>
<img src="/images/sokha-nhim-2.jpg" alt="Sokha Nhim service page" title="Description of tailoring services" class="second" />
<%= partial "more-link" %>