---
title: Soko website | Rachel Radford's design portfolio
---

<h1>Soko</h1>
<p>Simplicity drove the design for this site. We put the collection directly onto the home page, and kept the rest of the site content minimal to keep critical information about stockists easy to find.</p>
<img src="/images/soko-1.jpg" alt="Soko home page" title="Home page" class="first" />
<img src="/images/soko-2.jpg" alt="Soko contact page" title="Contact page" class="second" />
<%= partial "more-link" %>