---
title: Splendiferous website | Rachel Radford's design portfolio
---

<h1>Splendiferous</h1>
<p>Claire wanted a designer that could capture her personality and the feeling of being at one of her cooking classes – and she was very happy with the final website!</p>
<img src="/images/splendiferous-1.jpg" alt="Splendiferous homepage" title="Homepage" class="first" />
<p>Using such beautiful photography, I designed a site that really draws you into Claire’s cooking classes and recipes, making you hungry for more.</p>
<img src="/images/splendiferous-2.jpg" alt="Splendiferous cooking class booking" title="Class booking page" class="second" />
<img src="/images/splendiferous-3.jpg" alt="Splendiferous recipe" title="Recipe page" class="third" />