---
title: Turtle Mat website | Rachel Radford's design portfolio
---

<h1>Turtle Mat</h1>
<img src="/images/turtle-mat-1.jpg" alt="Turtle Mat product page" title="Product page" class="first" />
<p>I have worked with the Marketing and Online teams at TurtleMat to continue growing the sales on the website.</p>
<img src="/images/turtle-mat-2.jpg" alt="Turtle Mat Luxury Collection page" title="Luxury Collection themed page" class="second" />
<p>We have made a number of adjustments to this inherited layout, evolving the design over time; including aligning the design of the Luxury Collections with the annual hard-copy catalogue.</p>
<img src="/images/turtle-mat-3.jpg" alt="Turtle Mat homepage" title="Homepage during a sale" class="third" />
<%= partial "more-link" %>