---
title: uSwitch Energy Switching | Rachel Radford's design portfolio
---

<h1>uSwitch Energy</h1>
<p>The energy section of uSwitch had not been touched for 4 years, and was in desperate need of a redesign.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="first" />
<p>By introducing user testing and using iterative split testing we have changed the journey starting with the look &amp; feel and making the site responsive. These changes saw an 8% uplift in conversion rate, making 2012 the best year ever for uSwitch.</p>
<img src="/images/bannisters-1.jpg" alt="Bannisters' Farm homepage" title="Homepage" class="second" />
<p>Our small, focussed team work closely together and continue to make incremental adjustments to the site, launched under split tests.</p>
<img src="/images/bannisters-2.jpg" alt="Bannisters' Farm product page" title="Product page" class="third" />
<%= partial "more-link" %>
