---
title: uSwitch Energy Switching | Rachel Radford's design portfolio
---

<h1>uSwitch Energy</h1>
<p>The energy section of uSwitch had not been touched in 4 years, and was in desperate need of a redesign.</p>
<p>I started by introducing user testing and understanding the information architecture. The product is complicated, and a thorough understanding was necessary for successful design.</p>
<img src="/images/uswitch-energy-1.jpg" alt="uSwitch Energy homepage" title="Energy homepage" class="first" />
<p>Launched under split tests, we made small changes, updated the look &amp; feel, and launched a responsive rebuild & design. These changes raised conversion by 8%, making 2012 the best year ever for uSwitch.</p>
<img src="/images/uswitch-energy-2.jpg" alt="Comparison page" title="Comparison page" class="second tall" />
<img src="/images/uswitch-energy-3.jpg" alt="Thank you page" title="Thank you page" class="third" />
<img src="/images/uswitch-energy-4.png" alt="User journey of an energy switch" title="User journey of an energy switch" class="fourth no-shadow" />
<%= partial "more-link" %>
