---
title: uSwitch Internal Branding | Rachel Radford's design portfolio
---

<h1>uSwitch Internal Branding</h1>
<p>New sections of uSwitch are evolving, being acquired and created all the time. A strong brand is essential and 2013 was the year for a focus on the uSwitch brand.</p>
<p>My focus in this work was on the internal brand: creating brand guidelines, business cards and supporting sections of the site such as recruitment and PR.</p>
<img src="/images/uswitch-recruitment.jpg" alt="uSwitch Recruitment section" title="uSwitch Recruitment" class="first" />
<img src="/images/uswitch-cards.jpg" alt="uSwitch business cards" title="uSwitch business cards" class="second tall" />
<img src="/images/uswitch-guidelines.png" alt="uSwitch brand guidelines" title="uSwitch brand guidelines" class="third" />
<%= partial "more-link" %>
