---
title: Rachel Radford's design portfolio
page_classes: 
---

<div>
  <h1>I've designed websites for 9 years</h1>
  <p class="standfirst">Over that time I have practised multiple design skills in art direction, typography, grid layouts, colour schemes as well as building websites.</p>
  <p>I especially enjoy pulling together all of the various different aspects of a website to make the best experience for the visitor. I believe good design encompasses much more than just the visual work.</p>
  <p>For the past 2 years have been working in an Agile team which is a natural fit for me. While working at Forward, I have focussed on the redesign of their key portfolio site, uSwitch. Although the design had not previously been touched for 4 years, the site itself worked incredibly well with funnel pages seeing up to 94% conversion rate. Design changes are released in a controlled environment under split tests to ensure any impact on conversion rates is positive. I love being able to measure the impact of design changes in this way, and designs are released in small increments in the same way as at Etsy.</p>
  <p class="linkedin"><a href="http://uk.linkedin.com/in/rachelradford/">My LinkedIn profile</a></p>
  <h2>About this site</h2>
  <p>This website has been around for 8 years in different shapes and forms, and each design has featured hand-drawn or painted elements. I felt it was important to keep that aspect with the most recent redesign to represent my offline skills.</p>
  <p>I started this latest design with wireframe sketches following Mobile First approaches. I then chose my fonts to set the tone of the site. I felt 'Dawning of a New Day' was an interesting headline font for such a personal site, and I liked the messiness it brought to an otherwise rigid medium. I then painted out the details in watercolour, and skipped straight to the browser to design the layouts.</p>
  <p>My address is maemay.co.nz because my middle name is Mae and my husband's surname is May. It was a bit of a bother to be Rachel Mae May, so although it makes a sweet domain name I officially kept my maiden name.</p>
  <h2>I don't stop making things</h2>
  <p>Outside of work I am rarely seen on a computer and instead like to <a href="http://www.flickr.com/photos/bimms/sets/72157622990780246/detail/">make things by hand</a>, cook and bake.</p>
  <p>I cycle everywhere I can, I like Pilates and good food and wine. I'm a liberal Christian, an environmentalist and a vegetable gardener.</p>
  <p>Although a New Zealand citizen I have spent the past 5 years in the UK thanks to my British grandparents. We have travelled throughout Europe, parts of the States, and popped into Africa and Asia.</p>
</div>